* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  height: 750px;
}

a {
  color: #000;
}
.movie-block {
  width: 150px;
  height:280px;
  margin-left: 15px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 10px grey;
}

.movie-title {
  font-size: 14px;
}

.movie-ganre {
  font-size: 12px;
}

.list-block {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  align-content: stretch;
  width: 50%;
  margin: 10px auto;
}

header {
  display: flex;
  background-color: black;
  height: 50px;

}

.header-logo {
  margin-left: 15px;
  margin-top: 5px;
  color: white;
}

.header-form {
  margin-left: 260px;
  margin-top: 15px;
}

.movie-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 894px;
  color: #fff;
}
.movie-detail-overlayer {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
}

/* .movie-detail::after {
  content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    min-height: 944px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
} */

.movie-detail > * {
  z-index: 10;
}
.movie-detail-col1 {
  display: flex;
  width: 40%;
  max-height: 500px;
  margin: 0 auto;
  flex: 1;
}
.movie-info {
  padding: 0 10px;
}
.movie-info p {
  line-height: 25px;
}

.movie-description {
  width:40%;
  margin: 0 auto;
}
.movie-description p {
  margin-top: 15px;
}
